#footer {
    margin-top: 0;
}

#footer {
    width: 100%;
    background-color: #f7f7f7;
    border-top: 1px solid #e4e4e4;
    padding-top: 30px;
    padding-bottom: 25px;
    margin-top: 60px;
}
#footer .footer-wrapper {
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    overflow: hidden;
    color: #bdbdbd;
    text-align: center;
}
#footer .logo {
    font-size: 32px;
    line-height: 1em;
    color: #9b9b9b;
    margin-right: 10px;
}
#footer .info, #footer .logo {
    display: inline-block;
    vertical-align: top;
}
.mui-icon {
    font-family: market-ui-iconfont!important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-stroke-width: .2px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.mui-icon.logo:before {
    content: "\e603";
}
#footer .info {
    text-align: left;
}
#footer .info, #footer .logo {
    display: inline-block;
    vertical-align: top;
}